<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SWB_OptionPackageInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SWB_OptionPackageInstaller.Properties.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>Server = 192.0.0.1; Port= 5432; Database = swb_installs; User ID = swb_installs_admin; Password = admin</value>
      </setting>
      <setting name="UseLocalProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ArtifactsNeededToCopy" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>com.kuka.kmpOmniMove.swb.repository.zip</string>
            <string>com.kuka.nav.core.swb.repository.zip</string>
            <string>com.kuka.nav.fineloc.swb.repository.zip</string>
            <string>com.kuka.nav.finepos.swb.repository.zip</string>
            <string>com.kuka.nav.fleet.swb.repository.zip</string>
            <string>com.kuka.nav.free.swb.repository.zip</string>
            <string>com.kuka.nav.kmp.diffdrive1500s.lift.swb.repository.zip</string>
            <string>com.kuka.nav.lift.swb.repository.zip</string>
            <string>com.kuka.nav.object.handling.swb.repository.zip</string>
            <string>com.kuka.nav.object.manager.swb.repository.zip</string>
            <string>com.kuka.nav.ui.swb.repository.zip</string>
            <string>com.kuka.nav.virtualLine.swb.repository.zip</string>
            <string>com.kuka.nav.virtualPath.swb.repository.zip</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProductsNeededToCopy" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0000354955;00;KUKA.NavSolution Backup 1.16.zip</string>
            <string>0000354959;00;KUKA.NavSolution MapEditor 1.16.zip</string>
            <string>0000358676;00;KUKA.NavSolution Lift 1.16 KMP1500-S.zip</string>
            <string>0000356423;00;KUKA.NavSolution 1.16 KMP1500-S.zip</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultRemoteDropDownFolder" serializeAs="String">
        <value>\\KUKA.int.kuka.com\s\KROS_Pool\Daily\NavigationSolution\master\</value>
      </setting>
      <setting name="LastBuildNumberTextFile" serializeAs="String">
        <value>LastBuildDir.txt</value>
      </setting>
      <setting name="IsAdvancedMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUsedSWBPath" serializeAs="String">
        <value>p:\SWBHelper_Test\CreatedSWBs\</value>
      </setting>
      <setting name="LastUsedOptionPackagePath" serializeAs="String">
        <value>p:\SWBHelper_Test\OPs\</value>
      </setting>
      <setting name="SWBZipFileName" serializeAs="String">
        <value>SunriseWorkbench-1.16.2.16-win32-x86.zip</value>
      </setting>
      <setting name="AppSetting" serializeAs="String">
        <value>AppSetting</value>
      </setting>
      <setting name="StoreToDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstallAllFoundPackages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HasSavedValues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsAppInQuickMode" serializeAs="String">
        <value>False</value>
      </setting>
    </SWB_OptionPackageInstaller.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.1" newVersion="4.6.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>